
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<style>
    ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  
}
li {
  display: inline;
  
}
a {
  padding: 8px;
  background-color: #dddddd;
}
.navbar{
    justify-content: space-between;
}
</style>
</head>
<body>
    <div class="navbar" >
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
          </ul>
    </div>
<h1>{{ message }}</h1>
<p>{{deskripsi}}</p>
</body>
</html>